<div class="flex items-center justify-center ">
    <div class="flex border-2 border-gray-200 rounded">
      <%= select_tag "Product Type", options_from_collection_for_select(@type, "name", "name"), id: "value" %>
        <button class="px-4 text-white bg-blue-600 border-l " onclick="getting_report_by_vendor(document.getElementById('value').value)">
            Search
        </button>
    </div>
</div>

<table class="table-auto border-separate border border-green-900 text-center bg-green-200">
  <thead>
    <tr>
      <th class="border border-green-600">Customer Name</th>&nbsp;&nbsp;
      <th class="border border-green-600">Product Name</th>&nbsp;&nbsp;
      <th class="border border-green-600">Vendor Name</th>&nbsp;&nbsp;
      <th class="border border-green-600">Product Type</th>&nbsp;&nbsp;
      <th class="border border-green-600">Product Price</th>&nbsp;&nbsp;
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<script>
  // Javascript code along with ajax to filter data according to selected type from dropdown
  function getting_report_by_vendor(value){
    console.log(value);
    $.ajax({
      type:'GET',
      url: '/reports/get_by_type',
      data: {"report": value},
      success: function(result) {
        console.log(result);
        $("tbody").empty();
        for(let i = 0 ; i < result.data.length ; i++){
          let tr = document.createElement("tr");
          tr.id = "new_row"+i
          $("tbody").append(tr)
          $("#new_row"+i).html("<td class='border border-green-600'>"+result.data[i].user_name+"</td>\n<td class='border border-green-600'>"+result.data[i].product_name+"</td>\n<td class='border border-green-600'>"+result.data[i].vendor_name+"</td>\n<td class='border border-green-600'>"+result.data[i].prod_type+"</td>\n<td class='border border-green-600'>"+result.data[i].product_price+"</td>")
        }
      }
    });
  }
</script>